In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [3]:
data_path = "../data/raw/interactions_large.csv"
df = pd.read_csv(data_path)

df.head()

,user_id,book_id,review_id,is_read,rating,review_text_incomplete,date_added,date_updated,read_at,started_at
0,8842281e1d1347389f2ab93d60773d4d,1384,1bad0122cebb4aa9213f9fe1aa281f66,True,4,NaN,Wed May 09 09:33:44 -0700 2007,Wed May 09 09:33:44 -0700 2007,NaN,NaN
1,8842281e1d1347389f2ab93d60773d4d,1376,eb6e502d0c04d57b43a5a02c21b64ab4,True,4,NaN,Wed May 09 09:33:18 -0700 2007,Wed May 09 09:33:18 -0700 2007,NaN,NaN
2,8842281e1d1347389f2ab93d60773d4d,30119,787564bef16cb1f43e0f641ab59d25b7,True,5,NaN,Sat Jan 13 13:44:20 -0800 2007,Wed Mar 22 11:45:08 -0700 2017,Tue Mar 01 00:00:00 -0800 1983,NaN
3,72fb0d0087d28c832f15776b0d936598,24769928,8c80ee74743d4b3b123dd1a2e0c0bcac,False,0,NaN,Wed Apr 27 11:05:51 -0700 2016,Wed Apr 27 11:05:52 -0700 2016,NaN,NaN
4,72fb0d0087d28c832f15776b0d936598,30119,2a83589fb597309934ec9b1db5876aaf,True,3,NaN,Mon Jun 04 18:58:08 -0700 2012,Mon Jun 04 18:58:13 -0700 2012,NaN,NaN

In [4]:
df.shape

(2734350, 10)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2734350 entries, 0 to 2734349
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   user_id                 object
 1   book_id                 int64
 2   review_id               object
 3   is_read                 bool
 4   rating                  int64
 5   review_text_incomplete  object
 6   date_added              object
 7   date_updated            object
 8   read_at                 object
 9   started_at              object
dtypes: bool(1), int64(2), object(7)
memory usage: 190.4+ MB

In [7]:
df.describe()

            book_id        rating
count  2.734350e+06  2.734350e+06
mean   6.808744e+06  1.824787e+00
std    9.698381e+06  2.123223e+00
min    2.340000e+02  0.000000e+00
25%    4.204000e+04  0.000000e+00
50%    5.922210e+05  0.000000e+00
75%    1.219330e+07  4.000000e+00
max    3.648548e+07  5.000000e+00

In [8]:
df.columns

Index(['user_id', 'book_id', 'review_id', 'is_read', 'rating',
       'review_text_incomplete', 'date_added', 'date_updated', 'read_at',
       'started_at'],
      dtype='object')

In [9]:
ratings_df = df[['user_id', 'book_id', 'rating']]
ratings_df.head()

                            user_id   book_id  rating
0  8842281e1d1347389f2ab93d60773d4d      1384       4
1  8842281e1d1347389f2ab93d60773d4d      1376       4
2  8842281e1d1347389f2ab93d60773d4d     30119       5
3  72fb0d0087d28c832f15776b0d936598  24769928       0
4  72fb0d0087d28c832f15776b0d936598     30119       3

In [10]:
ratings_df = ratings_df[ratings_df['rating'] > 0]
ratings_df.shape

(1229059, 3)

In [11]:
ratings_df['rating'].value_counts().sort_index()

rating
1     20497
2     64084
3    237942
4    405565
5    500971
Name: count, dtype: int64

In [12]:
num_users = ratings_df['user_id'].nunique()
num_books = ratings_df['book_id'].nunique()
num_ratings = ratings_df.shape[0]

num_users, num_books, num_ratings

(267821, 36182, 1229059)

In [13]:
user_counts = ratings_df['user_id'].value_counts()
book_counts = ratings_df['book_id'].value_counts()

ratings_df = ratings_df[
    ratings_df['user_id'].isin(user_counts[user_counts >= 5].index) &
    ratings_df['book_id'].isin(book_counts[book_counts >= 5].index)
]

ratings_df.shape

(832337, 3)

In [14]:
output_path = "../data/processed/ratings_clean.csv"
ratings_df.to_csv(output_path, index=False)